<h1 class="bg-danger">Users List</h1>
<div class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Proffesion</th>
            <th>DOB</th>
            <th>Photo</th>
            <th><a [routerLink]="['/add']">New User</a></th>
        </tr>
        <tr *ngFor="let u of userlist">
            <td>{{u.id}}</td>
            <td>{{u.firstname}} {{u.lastname}}</td>
            <td>{{u.email}}</td>
            <td>{{u.profession}}</td>
            <td>{{u.dateOfBirth|date:'short'}}</td>
            <td><img src={{u.imageUrl}} alt="pics" width="100" height="100"></td>
            <td><a [routerLink]="['edit',u.id]">edit</a></td>
            <td><a (click)="deleteUser(u.id)" href="javascript:void()">delete</a></td>
        </tr>

    </table>
</div>